<router-outlet>
    <!-- Page Title-->
    <div class="page-title-wrapper" aria-label="Page title">
        <div class="container">
            <nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="mt-n1 mr-1"></li>
                    <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/']">
                        <i-feather name="home" style="width: 13px; height: 13px;"></i-feather>
                        <span class="pl-1">Home</span></a>
                    </li>
					<li class="breadcrumb-item">Sell Product</li>
				</ol>
			</nav>
            <h1 class="mat-display-1 font-weight-bold mb-0 mt-2">Sell your product</h1>
            <span class="d-block mt-2 text-muted"></span>
        </div>
    </div>
    <div class="container pt-3 pb-5">
        <div class="row pt-1">
            <!-- Sidebar-->
            <div class="col-xl-3 col-lg-4">
                <img src="{{src}}" alt="thumbnail" class="img-thumbnail rounded d-block">
                <br>
                <div class="mx-2">
                    <h2>{{user?.firstName}}</h2>
                    <p style="color:rgb(255, 102, 0);">{{user?.email}}</p>
                    <p style="color:rgb(059, 131, 189);">{{user?.phone}}</p>
                    <button class="myButton">Change Account Info</button>
                </div>
            </div>
            <!-- Main content-->
            <div class="col-lg-8 mx-2">
                <!-- Pickup address-->
                <h4>1. Pickup address</h4>
                <form (ngSubmit)="onSubmit()">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input class="form-control" type="text" name="post.postAddress"
                                [(ngModel)]="post.postAddress" placeholder="Plaza de los limones 12" id="address"
                                required>
                            <p style="color:red; font-size:small" *ngIf="submitted && post.postAddress == ''">Please enter an address!</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <h4>2. Product information</h4>
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="component-name">Component Name</label>
                            <input class="form-control" type="text" name="post.name" [(ngModel)]="post.name"
                                placeholder="MSI Printer" id="component-name" required>
                            <p style="color:red; font-size:small" *ngIf="submitted && post.name == ''">Please enter the name of the component!</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="select-input">Select the product to sell</label>
                            <select class="form-control" name="post.component" [(ngModel)]="post.component"
                                id="select-input" required>
                                <option value="">Choose a component</option>
                                <option value="Motherboards">Motherboards</option>
                                <option value="Storage Devices">Storage Devices</option>
                                <option value="CPU / Processors">CPU / Processors</option>
                                <option value="Video Cards & Video Devices">Video Cards &amp; Video Devices</option>
                                <option value="Speakers">Speakers</option>
                                <option value="Headphones">Headphones</option>
                                <option value="Computer Mice">Computer Mice</option>
                                <option value="Monitors">Monitors</option>
                                <option value="Ink Printer">Ink Printer</option>
                                <option value="Laser Printer">Laser Printer</option>
                                <option value="3D Printer">3D Printer</option>
                                <option value="Printer Supplies">Printer Supplies</option>
                            </select>
                            <p style="color:red; font-size:small" *ngIf="submitted && post.component == ''">Please choose a category!</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="select-input">Select the brand</label>
                            <select class="form-control" name="post.brand.name" [(ngModel)]="post.brand.name"
                                id="select-input" required>
                                <option value="">Choose a brand</option>
                                <option value="Intel">Intel</option>
                                <option value="AMD">AMD</option>
                                <option value="NVIDIA">NVIDIA</option>
                                <option value="ASUS">ASUS</option>
                                <option value="Corsair">Corsair</option>
                                <option value="Seagate">Seagate</option>
                                <option value="Gigabyte">Gigabyte</option>
                                <option value="Logitech">Logitech</option>
                                <option value="Pioneer">Pioneer</option>
                                <option value="WD">WD</option>
                                <option value="HP">HP</option>
                                <option value="Other">Other</option>
                            </select>
                            <p style="color:red; font-size:small" *ngIf="submitted && post.brand.name == ''">Please choose a brand!</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="tags-input">Tags</label><br> 
                            <tag-input [(ngModel)]='post.tags' name="tags" id="tags-input"></tag-input>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <p>Upload your profile photo</p>
                            <input type="file" (change)="onFileChanged($event)">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <p>Upload your profile photo</p>
                            <input type="file" (change)="onFileChanged($event)">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <p>Upload your profile photo</p>
                            <input type="file" (change)="onFileChanged($event)">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <p>Upload your profile photo</p>
                            <input type="file" (change)="onFileChanged($event)">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="number-input">Price to sell ($)</label>
                            <div class="input-group">
                                <input class="form-control" name="post.price" [(ngModel)]="post.price"
                                    placeholder="Amount" type="number" min="0" id="number-input" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="textarea-input">Details</label>
                            <textarea class="form-control" name="post.details" [(ngModel)]="post.details"
                                id="textarea-input" placeholder="Tell us about the product" rows="7"
                                required></textarea>
                            <p style="color:red; font-size:small" *ngIf="submitted && post.details == ''">Please enter a brief summary of your product!</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="textarea-input">Features (Optional)</label>
                            <textarea class="form-control" name="post.features" [(ngModel)]="post.features"
                                id="textarea-input"
                                placeholder="e.g. Play a great variety of newly released games at 1080p 60fps"
                                rows="7"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button class="myButton" type="submit">Sell product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</router-outlet>