<!-- Second line-->
<header class="navbar navbar-expand-lg navbar-light bg-light px-0">
	<div class="container flex-sm-nowrap px-3">
		<!-- navbar brand-->
		<a class="navbar-brand mr-0 mr-sm-4" style="min-width: 100px;" [routerLink]="['']">
			<img width="100" src="./assets/img/logo-dark.png" alt="MStore" /></a>
		<!-- navbar buttons-->
		<div class="navbar-btns d-flex position-relative order-sm-3">
			<div class="navbar-toggler navbar-btn collapsed bg-0 border-left-0 my-3" data-toggle="collapse"
				data-target="#menu">
				<i class="mx-auto mb-2" data-feather="menu"></i>Menu
			</div>
			<div *ngIf="isLogged" class="row d-block text-center text-primary mx-auto mb-1 font-size-sm pr-3 my-auto">
				<i-feather name="user"></i-feather> Hello {{user?.firstName}}
			</div>
			<div *ngIf="isLogged" class="row d-block text-center text-primary mx-auto mb-1 font-size-sm pr-3 my-auto">
				<a class="btn btn-outline-primary btn-sm" (click)="logOut()">
					<i-feather name="log-out" style="width: 20px; height: 20px;"></i-feather>Log out
				</a>
			</div>
			<a *ngIf="!isLogged" class="navbar-btn bg-0 my-3" [routerLink]="['sign']">
				<span class="d-block">
					<i-feather name="log-in" style="width: 20px; height: 20px;"></i-feather><br>
					Sign In/Up
				</span></a>
			<button class="navbar-btn bg-0 my-3" (click)="openCart()">
				<span class="d-block position-relative"><span *ngIf='length !== 0'
						class="navbar-btn-badge bg-primary text-light">{{length}}</span>
						<i-feather name="shopping-cart" style="width: 20px; height: 20px;"></i-feather>
						<br>${{total}}
				</span></button>
		</div>
		<!-- search-box-->
		<div class="flex-grow-1 pb-3 pt-sm-3 my-1 px-sm-2 pr-lg-4 order-sm-2">
			<form (ngSubmit)="onSubmit(searchText.value)">
				<div class="input-group flex-nowrap">
					<div class="input-group-prepend">
						<span class="input-group-text rounded-left pt-0" id="search-icon">
							<i-feather name="search" style="width: 17px; height: 17px;"></i-feather>
						</span>
					</div>
					<template id="myListTemplate">
						<option>name</option>
					</template>
					<input #searchText class="form-control rounded-right" type="text" id="searchText" name="searchText"
						placeholder="Search product" aria-label="Search site" aria-describedby="search-icon" list="myList"
						autocomplete="off" (keyup)="showSearchResults($event,searchText.value)">
                        <datalist id="myList" *ngIf="searching">
                            <option *ngFor="let name of posts">
                                {{name}}
                            </option>
                        </datalist>
				</div>
			</form>
		</div>
	</div>
</header>
<!-- Third line: Navigation-->
<div class="navbar navbar-expand-lg navbar-light bg-light px-0">
	<div class="container px-3">
		<!-- navbar collapse area-->
		<div class="collapse navbar-collapse" id="menu">
			<!-- Site menu-->
			<ul class="navbar-nav">
				<li class="nav-item dropdown mega-dropdown dropdown-more">
					<a class="nav-link dropdown-toggle text-center pb-0" href="#"
						data-toggle="dropdown">Categories<br><i-feather name="more-horizontal"></i-feather></a>
					<div class="dropdown-menu">
						<div class="dropdown-inner">
							<div class="dropdown-column">
								<div class="bg-position-center bg-no-repeat bg-size-cover text-center px-3 py-4 mb-3"
									style="background-image: url(assets/img/megamenu/computerHardware.jpg);">
									<h3 class="h5 text-white text-shadow my-3">Computer
										Hardware</h3>
								</div>
								<div class="widget widget-links">
									<ul>
										<li><a (click)="changePosts(0,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Motherboards</span></a></li>
										<li><a (click)="changePosts(1,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Storage
													Devices</span></a></li>
										<li><a (click)="changePosts(2,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">CPU
													/ Processors</span></a></li>
										<li><a (click)="changePosts(3,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Video
													Cards &amp; Video Devices</span></a></li>
									</ul>
								</div>
							</div>
							<div class="dropdown-column">
								<div class="bg-position-center bg-no-repeat bg-size-cover text-center px-3 py-4 mb-3"
									style="background-image: url(assets/img/megamenu/comp-accessories.png);">
									<h3 class="h5 text-white text-shadow my-3">Computer
										Accessories</h3>
								</div>
								<div class="widget widget-links">
									<ul>
										<li><a (click)="changePosts(4,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Speakers
												</span></a></li>
										<li><a (click)="changePosts(5,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Headphones
												</span></a></li>
										<li><a (click)="changePosts(6,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Computer
													Mice</span></a></li>
										<li><a (click)="changePosts(7,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Monitors</span></a></li>
									</ul>
								</div>
							</div>
							<div class="dropdown-column">
								<div class="bg-position-center bg-no-repeat bg-size-cover text-center px-3 py-4 mb-3"
									style="background-image: url(assets/img/megamenu/printer.png);">
									<h3 class="h5 text-white text-shadow my-3">Printers</h3>
								</div>
								<div class="widget widget-links">
									<ul>
										<li><a (click)="changePosts(8,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Ink
													Printer</span></a></li>
										<li><a (click)="changePosts(9,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Laser
													Printer</span></a></li>
										<li><a (click)="changePosts(10,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">3D
													Printer</span></a></li>
										<li><a (click)="changePosts(11,'tag')">
											<i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
											<span class="font-size-sm">Printer
													Supplies</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav nav-pills">
				<li class="nav-item"><a [routerLink]="['']" class="nav-link rounded">Home</a></li>
				<li class="nav-item"><a [routerLink]="['shop']" class="nav-link rounded">Shop</a></li>
				<li class="nav-item"><a [routerLink]="['sell_product']" class="nav-link rounded">Sell Product</a></li>
				<li *ngIf="isAdmin" class="nav-item"><a [routerLink]="['admin']" class="nav-link rounded">Admin
						Page</a></li>
			</ul>
			<ul *ngIf="user" class="navbar-nav">
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
						data-toggle="dropdown">User
						Account</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" [routerLink]="['edit_profile']">Profile
								Settings</a></li>
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-item" [routerLink]="['public_profile']">Public
								Profile</a></li>
						<li class="dropdown-divider"></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="mb-3"></div>