<router-outlet>
    <!-- Page Title-->
    <div class="page-title-wrapper" aria-label="Page title">
        <div class="container">
            <nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="mt-n1 mr-1"></li>
                    <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/']">
                        <i-feather name="home" style="width: 13px; height: 13px;"></i-feather>
                        <span class="pl-1">Home</span></a>
                    </li>
					<li class="breadcrumb-item">Admin Page</li>
				</ol>
			</nav>
            <h1 class="mat-display-1 font-weight-bold mb-0 mt-2">Admin</h1>
            <hr class="mt-3">
        </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mt-n1 mt-md-n2">
        <!-- search-box-->
        <h2 class="font-weight-light pt-3 mb-1">Search the product:</h2>
        <div class="row">
            <div class="flex-grow-1 pb-3 my-1 px-sm-2 pr-lg-4 order-sm-2">
                <form>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text rounded-left pt-0" id="search-icon">
                                <i-feather name="search" style="width: 20px; height: 20px;"></i-feather>
                            </span>
                        </div>
                        <input #searchText class="form-control rounded-right" type="text" id="findProduct" 
                            (keyup)="showSearchResults($event)"
                            placeholder="Search site" aria-label="Search site" aria-describedby="search-icon"
                            autocomplete="off" list="listShow">
                        <datalist id="listShow" *ngIf="searching">
                            <option *ngFor="let name of posts | search : searchText.value">
                                {{name}}
                            </option>
                        </datalist>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
			<div class="w-100 p-3">
				<h1 class="w-100 d-flex flex-wrap justify-content-between align-items-center p-3 light-gray">
					<span class="font-weight-bold">Product</span>
				</h1>
                <!-- Item-->
                <h2 *ngIf="!found" class="w-100 p-3 text-center">
                    <span class='text-muted'>No product to show</span>
                </h2>
				 <div *ngIf="found" class="row py-3" id="product-info">
					<!-- Photo carousel-->
					<div class="col-3">
                        <ngb-carousel *ngIf="images" class="carousel slide">
                            <ng-template ngbSlide *ngFor="let img of images; index as i">
                                <div class="picsum-img-wrapper">
                                    <img [src]="img" alt="Picture {{i}} of component {{post.name}}">
                                </div>
                            </ng-template>
                        </ngb-carousel>
					</div>
					<div class="my-auto pl-3">
						<h3 class="product-card-title font-weight-semibold border-0 pb-0">
							{{post.name}}
						</h3>
						<span class="product-card-title border-0 font-weight-light">
							Component: <span class="text-muted">{{post.component}}</span>
                        </span><br>
						<span class="product-card-title border-0 font-weight-light">
							Brand: <span class="text-muted">{{post.brand.name}}</span>
                        </span>
						<div class="font-size-lg text-primary pt-2">${{post.price}}</div>
					</div>
					<div class="my-auto pl-5">
						<form (ngSubmit)="onRemove(post.id)">
							<button class="btn btn-outline-danger btn-sm btn-block px-5 mb-3 rounded"
								type="submit">
                                <i-feather name="trash-2" style="width: 15px; height: 15px;"></i-feather>
                                Remove
							</button>
						</form>
						<form (ngSubmit)="onEdit(post.id)">
							<button class="btn btn-outline-success btn-sm px-5 btn-block rounded"
								type="submit">
                                <i-feather name="edit" style="width: 15px; height: 15px;"></i-feather>
                                Edit
							</button>
						</form>
					</div> 
                 </div>
                 <!-- Edit-->
                 <hr>
                 <div *ngIf="edit" class="col-8 mx-auto">
                    <!-- Pickup address-->
                      <h2 class="my-4 font-weight-bold">Edit the product</h2>
                      <form>
                          <div class="form-group">
                              <label for="component-name">Component Name</label> 
                              <input class="form-control" type="text" name="name"
                                  placeholder="MSI Printer" value="{{post.name}}" id="component-name" required>
                          </div>
                          <div class="form-group">
                              <label for="select-input">Select the product to sell</label> <select
                                  class="form-control custom-select" name="component"
                                  id="select-input" required>
                                  <option value="">Choose a component</option>
                                  <option value="Motherboards">Motherboards</option>
                                  <option value="Storage Devices">Storage Devices</option>
                                  <option value="CPU / Processors">CPU / Processors</option>
                                  <option value="Video Cards & Video Devices">Video Cards &amp; Video Devices</option>
                                  <option value="Speakers">Speakers</option>
                                  <option value="Headphones">Headphones</option>
                                  <option value="Computer Mice">Computer Mice</option>
                                  <option value="Monitors">Monitors</option>
                                  <option value="Ink Printer">Ink Printer</option>
                                  <option value="Laser Printer">Laser Printer</option>
                                  <option value="3D Printer">3D Printer</option>
                                  <option value="Printer Supplies">Printer Supplies</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="select-input">Select the brand</label> <select
                                  class="form-control custom-select" name="bname" id="select-input"
                                  required>
                                  <option value="">Choose a brand</option>
                                  <option value="Intel">Intel</option>
                                  <option value="AMD">AMD</option>
                                  <option value="NVIDIA">NVIDIA</option>
                                  <option value="ASUS">ASUS</option>
                                  <option value="Corsair">Corsair</option>
                                  <option value="Seagate">Seagate</option>
                                  <option value="Gigabyte">Gigabyte</option>
                                  <option value="Logitech">Logitech</option>
                                  <option value="Pioneer">Pioneer</option>
                                  <option value="WD">WD</option>
                                  <option value="HP">HP</option>
                                  <option value="Other">Other</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="tags-input">Tags</label><br> 
                              <tag-input [(ngModel)]='post.tags' name="tags" id="tags-input"></tag-input>
                          </div>
                          <div class="form-group">
                              <label for="file-input">Upload you photos (Max 4)</label>
                              <div class="file-upload-wrapper">
                                  <br>
                                  <input type="file" name="imagenFile" lang="en"
                                      id="input-file-now" class="file-upload" accept=".jpg, .jpeg" />
                                  <small class="form-text text-muted">Picture 1</small><br>
                                  <input type="file" name="imagenFile" lang="en"
                                      id="input-file-now" class="file-upload" accept=".jpg, .jpeg" />
                                  <small class="form-text text-muted">Picture 2</small><br>
                                  <input type="file" name="imagenFile" lang="en"
                                      id="input-file-now" class="file-upload" accept=".jpg, .jpeg" />
                                  <small class="form-text text-muted">Picture 3</small><br>
                                  <input type="file" name="imagenFile" lang="en"
                                      id="input-file-now" class="file-upload" accept=".jpg, .jpeg" />
                                  <small class="form-text text-muted">Picture 4</small>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="number-input">Price to sell ($)</label>
                              <div class="input-group">
                                  <input class="form-control" name="price" placeholder="Amount" value="{{post.price}}"
                                      type="number" min="0" id="number-input" required>
                                  <div class="input-group-append">
                                      <span class="input-group-text">$</span>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="textarea-input">Details</label>
                              <textarea class="form-control" name="details" id="textarea-input"
                                  placeholder="Tell us about the product" rows="7" required>{{post.details}}</textarea>
                          </div>
                          <div class="form-group">
                              <label for="textarea-input">Features (Optional)</label>
                              <textarea class="form-control" name="features" id="textarea-input"
                                  placeholder="e.g. Play a great variety of newly released games at 1080p 60fps"
                                  rows="7">{{post.features}}</textarea>
                          </div>
                          <div class="text-sm-right">
                              <button class="myButton" type="submit">Sell
                                  product</button>
                          </div>
                  </form>
                </div>
			</div>
		</div>
    </div>
</router-outlet>