<router-outlet>
  <br>
  <br>
  <div class="container pb-5 mb-4">
    <div class="row">
      <div class="col-lg-3">
        <!-- Shop sidebar-->
        <div class="offcanvas-sidebar">
          <div class="offcanvas-sidebar-body">
            <div class="offcanvas-sidebar-body-inner">
              <!-- Categories-->
              <div class="widget widget-categories mb-4 py-1">
                <h3 class="widget-title">Shop categories</h3>
                <ul id="shopCategories">
                  <li class="has-children"><a href="#hardware" data-toggle="collapse"><i
                        class="widget-categories-indicator" data-feather="chevron-down"></i>Computer Hardware</a>
                    <ul class="collapse show" id="hardware" data-parent="#shopCategories">
                      <li>
                        <a href="/shop/0">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Motherboards
                        </a></li>
                      <li><a href="/shop/1">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Storage Devices
                        </a></li>
                      <li><a href="/shop/2">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>CPU / Processors
                        </a></li>
                      <li><a href="/shop/3">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Video Cards &amp; Video Devices
                        </a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#accessories" data-toggle="collapse"><i
                        class="widget-categories-indicator" data-feather="chevron-down"></i>Computer Accessories</a>
                    <ul class="collapse" id="accessories" data-parent="#shopCategories">
                      <li><a href="/shop/4">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Speakers
                        </a></li>
                      <li><a href="/shop/5">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Headphones
                        </a></li>
                      <li><a href="/shop/6">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Computer Mice
                        </a></li>
                      <li><a href="/shop/7">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Monitors
                        </a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a href="#printers" data-toggle="collapse"><i
                        class="widget-categories-indicator" data-feather="chevron-down"></i>Printers</a>
                    <ul class="collapse" id="printers" data-parent="#shopCategories">
                      <li><a href="/shop/8">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Ink Printer
                        </a></li>
                      <li><a href="/shop/9">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Laser Printer
                        </a></li>
                      <li><a href="/shop/10">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>3D Printer
                        </a></li>
                      <li><a href="/shop/11">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Printer Supplies
                        </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Brand filter    -->
              <div class="widget widget-categories">
                <h3 class="widget-title">Shop by brand</h3>
                <ul id="shopCategories">
                  <li>
                    <a href="/shop/brand/Intel">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      Intel
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/AMD">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      AMD
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/NVIDIA">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      NVIDIA
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/ASUS">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      ASUS
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/Corsair">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      Corsair
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/Seagate">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      Seagate
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/Gigabyte">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      Gigabyte
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/Logitech">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      Logitech
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/Pioneer">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      Pioneer
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/WD">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      WD
                    </a>
                  </li>
                  <li>
                    <a href="/shop/brand/HP">
                      <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                      </i-feather>
                      <i class="widget-categories-indicator" data-feather="chevron-right"></i>
                      HP
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <mat-form-field>
          <mat-label>Sort by:</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Low - Hight Price</mat-option>
            <mat-option value="option2">Hight - Low Price</mat-option>
            <mat-option value="option3">A - Z Name Order</mat-option>
            <mat-option value="option4">Z - A Name Order</mat-option>
          </mat-select>
        </mat-form-field>
        <h2> results</h2>
        <h2>
          No posts found&nbsp;
          <small class="text-muted font-size-lg">Try again</small>
        </h2>
        <!-- Toolbar-->
        <div class="d-flex flex-wrap justify-content-center justify-content-sm-between pb-3">
          <div class="d-flex flex-wrap">


          </div>
        </div>
        <br>
        <!-- Products grid-->
        <div class="row no-gutters">
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title>Título</mat-card-title>
                  <mat-card-subtitle>Categoría</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  $111
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title>Título</mat-card-title>
                  <mat-card-subtitle>Categoría</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  $111
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title>Título</mat-card-title>
                  <mat-card-subtitle>Categoría</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  $111
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title>Título</mat-card-title>
                  <mat-card-subtitle>Categoría</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  $111
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title>Título</mat-card-title>
                  <mat-card-subtitle>Categoría</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  $111
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
                <mat-card-header>
                  <mat-card-title>Título</mat-card-title>
                  <mat-card-subtitle>Categoría</mat-card-subtitle>
                </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  $111
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- Product-->

        </div>
        <div class="containerLure">

        </div>
        <div class="pb-4 mb-2"></div>
        <div class="page-load-status">
          <div class="loader-ellips infinite-scroll-request">
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
            <span class="loader-ellips__dot"></span>
          </div>
          <p class="infinite-scroll-last">End of content</p>
          <p class="infinite-scroll-error">No more pages to load</p>
        </div>
        <p>
          <button class="view-more-button">View more</button>
        </p>
      </div>
    </div>
  </div>
</router-outlet>
