<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="imgcontainer" class="container">
                <ngb-carousel #carousel>
                    <ng-template ngbSlide *ngFor="let img of images; index as i">
                        <div class="picsum-img-wrapper">
                            <img [src]="img" alt="image {{i + 1}}">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
        <div class="col-sm">
            <span id="postname"><b> {{post.name}}</b> </span>
            <br>
            <br>
            <ngb-rating id="rating" [rate]="medianrate" [readonly]="true" [max]="5"></ngb-rating> <span id="totalrating"> from {{totalrates}} ratings</span>
            <br>
            <br>
            <span id="pricesection"> <b>${{post.price}} </b></span>
            <br>
            <label *ngIf='Contained === false' class="btn-primary w-75" ngbButtonLabel (click)="addToCart()"><b>Add to cart</b></label><label *ngIf='Contained === true' class="btn-primary w-75 disabled" ngbButtonLabel><b>Add to cart</b></label>
            <br>
            <br>
            <div class="featurebox"> 
                    <li> {{post.features}}</li>
                </div>
            <br>
        </div>
    </div>
    <br>
    <br>
    <div class="featurebox">

        <div class="row">

            <div class="col-sm">
                <div> 
                        <li><b>{{post.features}} </b></li>
                    </div>
            </div>
            <div class="col-sm">
                <span id="fulldetails"><b>{{post.details}} </b> </span>
                <br>
                <br>
            </div>
        </div>
    </div>
    <hr class="mt-4">
</div>

<!-- Related products-->
<app-posts *ngIf="!empty" [title]='title2' [posts]='recommendedPosts'></app-posts>
