<router-outlet>
  <br>
  <br>
  <div class="container pb-5 mb-4">
    <div class="row">
      <div class="col-lg-3">
        <!-- Shop sidebar-->
        <div class="offcanvas-sidebar">
          <div class="offcanvas-sidebar-body">
            <div class="offcanvas-sidebar-body-inner">
              <!-- Categories-->
              <div class="widget widget-categories mb-4 py-1">
                <h3 class="widget-title">Shop categories</h3>
                <ul id="shopCategories">
                  <li class="has-children"><a style="cursor: pointer;" (click)="toggleNavbarHW()"
                      data-toggle="collapse"><i class="widget-categories-indicator"
                        data-feather="chevron-down"></i>Computer Hardware</a>
                    <ul [ngbCollapse]="showHardware" id="hardware" data-parent="#shopCategories">
                      <li>
                        <a (click)="changeCriteriaPost('0', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Motherboards</a>
                      </li>
                      <li><a (click)="changeCriteriaPost('1', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Storage Devices
                        </a></li>
                      <li><a (click)="changeCriteriaPost('2', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>CPU / Processors
                        </a></li>
                      <li><a (click)="changeCriteriaPost('3', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Video Cards &amp; Video Devices
                        </a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a style="cursor: pointer;" (click)="toggleNavbarAC()"
                      data-toggle="collapse"><i class="widget-categories-indicator"
                        data-feather="chevron-down"></i>Computer Accessories</a>
                    <ul [ngbCollapse]="showAcc" id="accessories" data-parent="#shopCategories">
                      <li><a (click)="changeCriteriaPost('4', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Speakers
                        </a></li>
                      <li><a (click)="changeCriteriaPost('5', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Headphones
                        </a></li>
                      <li><a (click)="changeCriteriaPost('6', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Computer Mice
                        </a></li>
                      <li><a (click)="changeCriteriaPost('7', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Monitors
                        </a></li>
                    </ul>
                  </li>
                  <li class="has-children"><a style="cursor: pointer;" (click)="toggleNavbarPrint()"
                      data-toggle="collapse"><i class="widget-categories-indicator"
                        data-feather="chevron-down"></i>Printers</a>
                    <ul [ngbCollapse]="showPrint" id="printers" data-parent="#shopCategories">
                      <li><a (click)="changeCriteriaPost('8', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Ink Printer
                        </a></li>
                      <li><a (click)="changeCriteriaPost('9', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Laser Printer
                        </a></li>
                      <li><a (click)="changeCriteriaPost('10', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>3D Printer
                        </a></li>
                      <li><a (click)="changeCriteriaPost('11', 'id', 'asc')" style="cursor: pointer;">
                          <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                          </i-feather>Printer Supplies
                        </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Brand filter    -->
              <div class="widget widget-categories">
                <h3 class="widget-title">Shop by brand</h3>
                <button class="btn btn-primary" style="margin: .1rem;" type="submit" *ngFor="let brand of brands"
                  (click)="setBrand(brand.id)">{{brand.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle *ngIf="showFilter">Sort by: </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="changeCriteriaPost(currentTag, 'price', 'asc')">Low - Hight Price</button>
            <button ngbDropdownItem (click)="changeCriteriaPost(currentTag, 'price', 'desc')">Hight - Low Price</button>
            <button ngbDropdownItem (click)="changeCriteriaPost(currentTag, 'name', 'asc')">A - Z Name Order</button>
            <button ngbDropdownItem (click)="changeCriteriaPost(currentTag, 'name', 'desc')">Z - A Name Order</button>
          </div>
        </div>

        <br>
        <div *ngIf="empty">
          <h2>
            No posts found&nbsp;
            <small class="text-muted font-size-lg">Try again</small>
          </h2>
        </div>
        <br>
        <!-- Products grid-->
        <div class="row no-gutters">
          <div class="col-md-4 col-sm-6" style="padding-bottom: 1.1rem; padding-right: 0.99rem;"
            *ngFor="let post of posts">
            <mat-card class="example-card">
              <a [routerLink]= "['/post',post?.id]"><img mat-card-image src="https://localhost:8443/images/posts/image-{{post.id}}-0.jpg"
                alt="image-post.id" style="max-height: 125px;"></a>
              <mat-card-header>
                <mat-card-title>{{post.name}}</mat-card-title>
                <mat-card-subtitle>{{post.component}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p class="p-title">
                  {{post.price}}$
                </p>
              </mat-card-content>
            </mat-card>

          </div>
          <!-- Product-->

        </div>
        <p *ngIf="showMore">
          <button (click)="morePosts()" class="btn btn-primary" style="margin: .1rem;" type="submit">View more</button>
        </p>
        <app-loader></app-loader>
      </div>
    </div>
  </div>
</router-outlet>
