<router-outlet>
    <section class="container px-3">
        <div class="pt-lg-2 mb-4 mb-md-5">
            <div class="row">
                <!-- Categories-->
                <div class="col-lg-4 d-none d-lg-block">
                    <br>
                    <div class="border px-4 py-4">
                        <ul class="list-unstyled mb-0">
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-100" name="hard-drive"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">CPU/Processors<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-60" name="speaker"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">Speakers & Home Music<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-60" name="monitor"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">Monitors<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-60" name="video"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">VideoCards & Video Devices<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-60" name="headphones"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">Headphones<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-60" name="printer"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">Printers & Ink<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                            <li class="border-bottom">
                                <div class="d-flex flex-row bd-highlight mb-3">
                                    <div class="p-2 bd-highlight">
                                        <i-feather class="text-primary opacity-60" name="server"
                                            style="width: 20px; height: 20px;"></i-feather>
                                    </div>
                                    <div class="p-2 bd-highlight"><a
                                            class="text-secondary d-flex align-items-center nav-link-inline py-1"
                                            href="/shop/7">HDD /SSD Data Storage<div class="py-0 bd-highlight">
                                                <i-feather name="chevron-right" style="width: 20px; height: 20px;">
                                                </i-feather>
                                            </div></a></div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <!--Carousel Wrapper-->

                <div *ngIf="!empty" class="col-lg-8">
                    <br>    
                    <div class="bg-secondary bg-size-cover mb-grid-gutter" [ngStyle]="{ 'background-image': 'url('+path+')'}">
                    <ngb-carousel *ngIf="images" class="carousel slide">
                        
                        <ng-template ngbSlide *ngFor=" let post of carousel">
							<div class="row align-items-center py-5">
								<div class="col-md-5">
									<div class="pl-3 px-8 pr-3 pl-md-5 pr-md-0 pt-4 pt-lg-5 pb-5 text-center text-md-left">
										<h3 class="mb-1">{{post.name}}</h3>
										<h4 class="font-weight-light opacity-70 pb-3">starting at
											${{post.price}}</h4>
                                            <button type="button" class="myButton" ngbTooltip="Shop" triggers="click:blur" [routerLink]="['/post',post.id]">Shop now
                                                <i-feather name="arrow-right" style="width: 20px; height: 20px;"></i-feather></button>
									</div>
								</div>
								<div class="col-md-7">
									<img class="d-block mx-auto" [src]="images[0]"
										alt="image">
								</div>
							</div>
                            </ng-template>
                    </ngb-carousel>
                    </div>
                </div>

                <div *ngIf="empty" class="col-lg-8">
                    <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="images[0]" alt="Random first slide">
                            </div>
                            <div class="carousel-caption">

                                <div class="product-card-body body-hidden pt-2">
                                    <h3 class="mb-1">No products</h3>
                                    <br>
                                    <button type="button" class="myButton" ngbTooltip="Shop" triggers="click:blur" [routerLink]="['/sell_product']">Sell your product now!
                                        <i-feather name="arrow-right" style="width: 20px; height: 20px;"></i-feather></button>
                                </div>
                            </div>
                        </ng-template>

                    </ngb-carousel>
                </div>

            </div>
        </div>
        <hr class="mt-4">
    </section>


    <!-- Featured products grid-->
    <app-posts *ngIf="!empty" [title]='title1' [posts]='featuredPosts'></app-posts>

    <!-- New Arrivals-->
    <app-posts *ngIf="!empty" [title]='title2' [posts]='newArrivals'></app-posts>

    <!-- Promo banner-->
    <section *ngIf="!empty" class="container py-4 my-3 px-3">
        <div class="bg-faded-info position-relative py-4">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <span class="badge badge-danger ml-5">Newest offer</span>
                    <div class="pt-4 pl-4 pl-sm-5">
                        <h3 class="font-family-body font-weight-light mb-2">All new</h3>
                        <h2 class="mb-2 pb-1">{{topPost?.name}}</h2>
                        <h5 class="font-family-body font-weight-light mb-3">at
                            discounted price. Hurry up!</h5>                    <button type="button" class="myButton" ngbTooltip="Shop" triggers="click:blur" [routerLink]="['/post',topPost?.id]">Shop now
                                <i-feather name="arrow-right" style="width: 20px; height: 20px;"></i-feather></button>
                    </div>
                </div>
                <div class="col-md-7">
                    <img class="img-thumbnail" [src]="images[2]" alt="Random first slide">
                </div>
            </div>
        </div>
        <hr class="mt-4">
    </section>

    <!-- Brands carousel -->
    <section class="container">

        <div class="col-sm-4 col-sm-offset-5 mx-auto">
            <ngb-carousel [interval]="1200">
                <ng-template ngbSlide *ngFor="let img of images; index as i">
                    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank"
                        rel="nofollow noopener noreferrer">
                        <div class="picsum-img-wrapper">
                            <img class="img-thumbnail" [src]="img" alt="My image {{i + 1}} description">
                        </div>
                    </a>
                </ng-template>
            </ngb-carousel>
            <hr>
            <input type="hidden" [(ngModel)]="pauseOnHover">
        </div>

    </section>

</router-outlet>