<router-outlet>
    <section class="container px-3">
        <div class="mt-4 pt-lg-2 mb-4 mb-md-5">
            <div class="row">
                <!-- Categories-->
                <div class="col-lg-4 d-none d-lg-block">
                    <h3>Categories</h3>
                    <hr class="mt-4">
                    <div class="border px-4 py-4">
                        <ul class="list-unstyled mb-0">
                            <li class="border-bottom"><a class="d-flex align-items-center nav-link-inline pb-3"
                                    href="/shop/2" data-toggle="popover" data-placement="right" data-trigger="hover"
                                    data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/CPU/AMD Ryzen 5 3600X 6 Core Socket AM4 3.8GHz CPU Processor + Wraith Spire Cooler.jpg&quot; class=&quot;d-block mt-n2&quot; alt=&quot;Computers &amp; Accessories&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold mt-n2 pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="hard-drive"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>CPU/Processors<i class="ml-1"
                                            data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i></span></a></li>
                            <li class="border-bottom"><a class="d-flex align-items-center nav-link-inline py-3"
                                    href="/shop/7" data-toggle="popover" data-placement="right" data-trigger="hover"
                                    data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/Monitors/Samsung C27F390FHU - Monitor para PC Desktop (Full HD, 68,6 cm , 1920 x 1080 Pixeles, LCD, 4 ms.jpg&quot; class=&quot;d-block mt-n2&quot; alt=&quot;TV, Video &amp; Audio&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="monitor"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>Monitors<i class="ml-1"
                                            data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i></span></a></li>
                            <li class="border-bottom"><a class="d-flex align-items-center nav-link-inline py-3"
                                    href="/shop/3" data-toggle="popover" data-placement="right" data-trigger="hover"
                                    data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/GPU/Gigabyte GV-RX580GAMING-8GD - Tarjeta Gráfica, RX 580 Gaming, 8 phases poder,  8GB, Negro.jpg&quot; class=&quot;d-block mt-n2&quot; alt=&quot;Video Cameras&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold mt-n1 pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="video"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>Video
                                        Cards &amp; Video Devices<i class="ml-1" data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i>
                                    </span></a></li>
                            <li class="border-bottom"><a class="d-flex align-items-center nav-link-inline py-3"
                                    href="/shop/5" data-toggle="popover" data-placement="right" data-trigger="hover"
                                    data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/Headphones/Logitech G935, Headphones, Bluetooth, Medium, Multicolor.jpg&quot; class=&quot;d-block mt-n2&quot; alt=&quot;Headphones&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold pt-2 pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="headphones"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>Headphones<i class="ml-1"
                                            data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i></span></a></li>
                            <li class="border-bottom"><a class="d-flex align-items-center nav-link-inline py-3"
                                    href="/shop/8" data-toggle="popover" data-placement="right" data-trigger="hover"
                                    data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/Ink printer/HP - OfficeJet 3830 Wireless All-In-One Instant Ink Ready Printer - Black.jpg&quot; class=&quot;d-block mt-n2&quot; alt=&quot;Printers &amp; Ink&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold pt-2 pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="printer"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>Printers
                                        &amp; Ink<i class="ml-1" data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i>
                                    </span></a></li>
                            <li class="border-bottom"><a class="d-flex align-items-center nav-link-inline py-3"
                                    href="/shop/4" data-toggle="popover" data-placement="right" data-trigger="hover"
                                    data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/Speakers/PIONEER DJ DM-40-W.jpg&quot; class=&quot;d-block&quot; alt=&quot;Speakers &amp; Home Music&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold pt-2 pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="speaker"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>Speakers
                                        &amp; Home Music<i class="ml-1" data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i>
                                    </span></a></li>
                            <li><a class="d-flex align-items-center nav-link-inline pt-3" href="/shop/1"
                                    data-toggle="popover" data-placement="right" data-trigger="hover" data-html="true"
                                    data-content="&lt;img src=&quot;img/Hardware/Storage/WD Black 2TB Performance Desktop Hard Disk Drive - 7200 RPM.jpg&quot; class=&quot;d-block mt-n2&quot; alt=&quot;HDD / SSD Data Storage&quot;&gt;&lt;div class=&quot;text-center font-size-sm font-weight-semibold pt-2 pb-3&quot;&gt;&lt;/div&gt;"><i
                                        class="text-primary opacity-60 mr-2 mt-1" data-feather="server"
                                        style="width: 1.25rem; height: 1.25rem;"></i><span>HDD /
                                        SSD Data Storage<i class="ml-1" data-feather="chevron-right"
                                            style="width: 1rem; height: 1rem;"></i>
                                    </span></a></li>
                        </ul>
                    </div>
                </div>
                <!--Carousel Wrapper-->
                <div class="col-lg-8">
                    <ngb-carousel *ngIf="images" class="carousel slide">
                        <ng-template ngbSlide *ngFor="let post of carousel">
                            <div class="picsum-img-wrapper">
                                <img [src]="images[0]" alt="Random first slide">
                            </div>
                            <div class="carousel-caption">
                                <h3>{{post.name}}</h3>
                                <p>{{post.description}}</p>
                                <p>{{post.price}} $</p>
                                <div class="product-card-body body-hidden pt-2">
                                    <a class="btn btn-primary" [routerLink]="['/post',post.id]">Shop now<i class="ml-2"
                                            data-feather="arrow-right"></i></a>
                                </div>
                            </div>
                        </ng-template>

                    </ngb-carousel>
                </div>
            </div>
        </div>
        <hr class="mt-4">
    </section>

    <!-- Featured products grid-->
    <app-posts [title]='title1' [posts]='featuredPosts'></app-posts>

    <!-- New Arrivals-->
    <app-posts [title]='title2' [posts]='newArrivals'></app-posts>

	<!-- Promo banner-->
	<section class="container py-4 my-3 px-3">
		<div class="bg-faded-info position-relative py-4"> 
			<div class="row align-items-center">
				<div class="col-md-5">
					<span class="badge badge-danger ml-5">Newest offer</span>
					<div class="pt-4 pl-4 pl-sm-5">
						<h3 class="font-family-body font-weight-light mb-2">All new</h3>
						<h2 class="mb-2 pb-1">{{topPost.name}}</h2>
						<h5 class="font-family-body font-weight-light mb-3">at
							discounted price. Hurry up!</h5>
						<a class="btn btn-primary" [routerLink]="['/post',topPost.id]">Shop now<i class="ml-2"
								data-feather="arrow-right"></i></a>
					</div>
				</div>
				<div class="col-md-7">
					<img class="img-thumbnail" [src]="images[2]" alt="Random first slide">
				</div>
			</div>
        </div>
	</section>

</router-outlet>