<router-outlet>
	<!-- Page Title-->
	<div class="page-title-wrapper pt-4" aria-label="Page title">
        <div class="container">
            <nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="mt-n1 mr-1"></li>
                    <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/']">
                        <i-feather name="home" style="width: 13px; height: 13px;"></i-feather>
                        <span class="pl-1">Home</span></a>
                    </li>
					<li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/shop']">
                        <span class="pl-1">Shop</span></a></li>
				</ol>
			</nav>
            <h1 class="mat-display-1 font-weight-bold mb-0 mt-2">Your cart</h1>
        </div>
	</div>
	<!-- Page content -->
	<div class="container pt-3 pb-5 mt-n2 mt-md-n3">
		<div class="row mt-4">
			<div class="w-100 p-3">
				<h2 class="w-100 p-3 d-flex flex-wrap justify-content-between align-items-center light-gray">
                    <span>Products</span>
                    <a style="font-size: medium; text-decoration: none;"
                        [routerLink]="['/shop']">
                        <i-feather name="chevrons-left" style="width: 20px; height: 20px;"></i-feather>
                        Continue shopping
                    </a>
				</h2>
				<!-- Item-->
				<h2 *ngIf='items.length === 0' class="w-100 p-3 text-center">
					<span class='emptytext'>The cart is empty</span>
				</h2>
                <div *ngFor='let post of items, let i = index'
                    class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
					<div class="media d-block d-sm-flex text-center text-sm-left">
						<a class="cart-item-thumb mx-auto mr-sm-4">
							<img [src]="src" [alt]="src" height=100px width=100px></a>
						<div class="media-body pt-3">
							<h3 class="product-card-title font-weight-semibold border-0 pb-0">
								{{post.name}}
							</h3>
							<div class="font-size-lg text-primary pt-2">${{post.price}}</div>
							<br>
							<form>
								<button class="btn btn-outline-danger btn-sm btn-block mb-2"
									type="submit">
									<i-feather name="trash-2" style="width: 15px; height: 15px;"></i-feather>
									<span class="pl-1" (click)=removeItem(i)>Remove</span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Sidebar-->
			<div class="w-100 p-3">
				<h2 class="w-100 p-3 light-gray text-center">Subtotal</h2>
				<div class="h3 font-weight-semibold text-center py-3">${{total}}</div>
				<hr>
			</div>
			<button [routerLink]="['/complete_purchase']" class="myButton btn-block">
				<i-feather name="credit-card" style="width: 15px; height: 15px;"></i-feather>
				<span class="pl-1">Proceed to Checkout</span>
			</button>
		</div>
	</div>
</router-outlet>
