@import '~bs-stepper/dist/css/bs-stepper.min.css';

 .light-gray {
     background-color: #f4f4f4;
 }

 .noBorderRadius {
	 border-radius: 0%;
 }

 .myFeather {
	 width: 20px;
	 height: 20px;
 }

 .myButton {
	box-shadow: 0px 5px 10px -5px #276873;
	background-color:#5C77FC;
	display:inline-block;
	color:#ffffff;
	padding:7px 25px;
	cursor: pointer;
    text-decoration:none;
    border: 0;
}
 .myButton:hover {
	background-color:#389eeb;
}
 .myButton:active {
	position:relative;
	top:1px;
}

 .myButton:disabled {
	opacity: 0.65; 
	cursor: not-allowed;
 }

a {
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
