<!-- Footer-->
<footer class="page-footer" style="background-color: #222222;">
    <!-- first row-->
    <div class="pt-5 pb-0 pb-md-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="widget widget-links pb-4">
                        <h2 class="widget-title text-white border-light">Shop departments</h2>
                        <ul class="list-unstyled">
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(0,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Motherboards</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(1,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Storage Devices</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(2,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">CPU / Processors</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(3,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Video Cards &amp; Video
                                        Devices</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(4,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Speakers</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(5,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Headphones</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(6,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Computer Mice</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(7,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Monitors</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(8,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Ink Printer</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(9,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Laser Printer</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(10,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">3D Printers</span></a></li>
                            <li><a class="nav-link-inline text-muted" (click)="changePosts(11,'tag')">
                                <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                <span class="font-size-sm">Printer Supplies</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-links pb-4">
                        <h2 class="widget-title text-white border-light">Our brands</h2>
                        <ul class="list-unstyled">
                            <li *ngFor="let brand of brands"><a (click)="changePosts(brand.id,'brand')"
                                    class="text-muted">
                                    <i-feather name="chevron-right" style="width: 15px; height: 15px;"></i-feather>
                                    <span class="font-size-sm">{{brand?.name}}</span>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 offset-xl-1 col-md-5">
                    <div class="widget">
                        <!-- Subscription form (MailChimp)-->
                        <h2 class="widget-title text-white border-light">Stay informed</h2>
                        <form #f="ngForm" (ngSubmit)="email.valid && onSubmit(email.value)" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            target="_blank">
                            <div *ngIf="f.submitted && email.invalid" class="text-danger small">
                                <div *ngIf="email.errors.required">Please enter an email!</div>
                                <div *ngIf="email.errors.pattern">Email must be a valid email address!</div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text noBorderRadius pt-0"
                                        style="background-color: #e8e8e8;">
                                        <i-feather name="mail" style="width: 20px; height: 20px;"></i-feather>
                                    </span>
                                </div>
                                <input #email="ngModel" class="form-control noBorderRadius border-0 box-shadow-0" type="email"
                                    name="email" id="email" value="" placeholder="Your email" 
                                    [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel required>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                            </div>
                            <button class="myButton btn-block" type="submit" name="subscribe"
                                id="mc-embedded-subscribe">Subscribe*</button>
                            <p class="font-size-xs text-white opacity-60 pt-2 mb-2" id="mc-helper">*Subscribe to our
                                newsletter to
                                receive early discount offers, updates and new products info.</p>
                            <!-- Subscription status-->
                            <div class="subscribe-status"></div>
                        </form>
                    </div>
                </div>

                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
    <div class="py-3" style="background-color: #1a1a1a;">
        <div class="container font-size-xs text-center" aria-label="Copyright"><span
                class="text-white opacity-60 mr-1">©
                All rights reserved. Made by</span><a class="nav-link-inline nav-link-light"
                href="https://createx.studio/" target="_blank">Createx Studio</a></div>
    </div>
</footer>