<router-outlet>
    <div class="container pb-5 mb-sm-4">
		<div class="row pt-5">
			<div class="col-md-6 pt-sm-3">
				<div class="card">
					<div class="card-body">
						<h2 class="h4 mb-1">Sign in</h2>
						<br>
						<form (ngSubmit)="onSubmit(username.value, password.value)" #loginForm="ngForm">
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text pt-0">
										<i-feather name="mail" style="width: 20px; height: 20px;"></i-feather>
									</span>
								</div>
								<input #username class="form-control" type="email" placeholder="Email"
									name="username" required>
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text pt-0">
										<i-feather name="unlock" style="width: 20px; height: 20px;"></i-feather>
									</span>
								</div>
								<input #password class="form-control" type="password"
									placeholder="Password" name="password" required>
							</div>
							<br>
							<div class="d-flex flex-wrap justify-content-between">
								<div class="custom-control custom-checkbox">
									<input class="custom-control-input" type="checkbox" checked
										id="remember_me"> <label class="custom-control-label"
										for="remember_me">Remember me</label>
								</div>
							</div>
							<hr class="mt-4">
							<div class="text-right pt-4">
								<button class="myButton" type="submit" [disabled]="!loginForm.form.valid">Sign In</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 pt-5 pt-sm-3">
				<h2 class="h4 mb-3">No account? Sign up</h2>
				<p class="text-muted mb-4">Registration takes less than a minute
					but gives you full control over your orders.</p>
				<form (ngSubmit)="onSignUp(confirmPassword.value)" #loginForm="ngForm">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="reg-fn">First Name</label> 
								<input #firstName [(ngModel)]="user.firstName"
									class="form-control" type="text" required id="reg-fn"
									name="firstName">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="reg-ln">Last Name</label> 
								<input #lastName [(ngModel)]="user.lastName"
									class="form-control" type="text" required id="reg-ln"
									name="lastName">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="reg-email">E-mail Address</label> 
								<input #email [(ngModel)]="user.email"
									class="form-control" type="email" required id="reg-email"
									name="email">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="reg-phone">Phone Number</label> 
								<input #phone [(ngModel)]="user.phone"
									class="form-control" type="text" required id="reg-phone"
									name="phone">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="reg-password">Password</label> 
								<input #password [(ngModel)]="user.password"
									class="form-control" type="password" required id="reg-password"
									name="password">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="reg-password-confirm">Confirm Password</label> 
									<input #confirmPassword class="form-control" type="password" required
									id="reg-password-confirm" name="confirm_password">
							</div>
						</div>
					</div>
					<div class="text-right">
						<br> 
						<button class="myButton" type="submit">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</router-outlet>