.div {
    background-color: black;
    height: 50px;
    position:sticky;
    position:relative;
    margin: 0px;
}
.title{
    text-align: left;
    color:white;
    font-size: 30px;
    font-family: Arial;
}
.cart {
    text-align: right;
    right: 20px;
    position: absolute;
    font-size: 30px;
    color:white;
    font-family: Arial;
}

.button {
    background-color: white;
    cursor: pointer;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 13px;
    padding-bottom: 2px;
    width: 3%;
    border: none;
    outline: none;
    transition: 0.4s;
    position: absolute;
    right:2px;
    font-family: Arial;
    color:darkgrey;
    font-size: 10px;
    text-align: center;
  }
  
  .active, .button:hover {
    background-color: #ccc;
  }
  
  .card {
      position:absolute;
      font-family: Arial;
      background-color: azure;
  }

  #homeredirect {
      text-decoration: none;
      color:white;
    }
  



